*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f4f4f4;
}

/* ================= HEADER ================= */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:#000;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:24px;
font-weight:bold;
}

.logo span{
color:red;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
align-items:center;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:15px;
}

.nav-links a.active,
.nav-links a:hover{
color:red;
}

/* SEARCH */
#search{
padding:6px 10px;
border-radius:5px;
border:none;
}

/* ================= HERO ================= */

.hero{
height:70vh;
backgrou
