*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f5f5f5;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:#000;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:24px;
font-weight:bold;
}

.logo span{
color:red;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
align-items:center;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links a.active,
.nav-links a:hover{
color:red;
}

/* HERO */

.hero{
height:80vh;
background:url('https://images.unsplash.com/photo-1593359677879-a4bb92f829d1') center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
position:relative;
color:white;
text-align:center;
}

.hero::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.hero-content{
position:relative;
z-index:2;
}

.hero-content h1{
font-size:48px;
margin-bottom:20px;
}

.btn{
padding:12px 24px;
background:#e60000;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.btn:hover{
background:#b80000;
}

/* PRODUCT */

.product-detail{
padding:100px 8%;
}

.product-wrapper{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:80px;
align-items:center;
background:white;
padding:60px;
border-radius:20px;
box-shadow:0 30px 60px rgba(0,0,0,0.08);
}

.product-left img{
width:100%;
max-width:450px;
border-radius:12px;
}

.price{
font-size:26px;
color:#e60000;
margin:20px 0;
}

/* FOOTER */

footer{
background:#000;
color:white;
text-align:center;
padding:20px;
margin-top:80px;
}

/* MOBILE */

.menu-toggle{
display:none;
}

@media(max-width:768px){

.menu-toggle{
display:block;
position:absolute;
right:20px;
font-size:26px;
cursor:pointer;
}

.nav-links{
position:fixed;
top:0;
right:-100%;
width:70%;
height:100vh;
background:#000;
flex-direction:column;
gap:25px;
padding:80px 20px;
transition:0.3s ease;
display:flex;
}

.nav-links.show{
right:0;
}

.product-wrapper{
grid-template-columns:1fr;
gap:40px;
padding:30px;
}

.hero-content h1{
font-size:28px;
}

}
